In [2]:
import pandas as pd
import seaborn as sn
from scipy import stats

In [3]:
penguins = sn.load_dataset("penguins")

In [4]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [6]:
#get the number of missing values
penguins.isna().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [7]:
penguins.dropna(axis=0)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [9]:
adelie = penguins[penguins["species"] == "Adelie"]
chinstrap = penguins[penguins["species"] == "Chinstrap"]

In [10]:
sampled_adelie = adelie.sample(n=30, random_state=1)
sampled_chinstrap = chinstrap.sample(n=30, random_state=1)

In [12]:
obs = abs(sampled_adelie["bill_length_mm"].mean() - sampled_chinstrap["bill_length_mm"].mean())

In [13]:
obs

10.349999999999994

In [14]:
sig_level = 0.05
test_results = stats.ttest_ind(a =sampled_adelie["bill_length_mm"], b=sampled_chinstrap["bill_length_mm"])

In [15]:
test_results

Ttest_indResult(statistic=-14.002420798940138, pvalue=2.9402395545052806e-20)

In [18]:
p_value = test_results.pvalue

In [20]:
if p_value < sig_level:
    print(obs, p_value, "reject")
else:
    print(obs, p_value, "Fail to reject")

10.349999999999994 2.9402395545052806e-20 reject